<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EasyBuy1.2</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.oracleoaec.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginValidationFilter</filter-name>
    <filter-class>com.oracleoaec.filter.LoginValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginValidationFilter</filter-name>
    <url-pattern>/news_view.jsp</url-pattern>
    <url-pattern>/shoping.jsp</url-pattern>
    <url-pattern>/shoping_result.jsp</url-pattern>
    <url-pattern>/goingToBuy</url-pattern>
    <url-pattern>/guestbook.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CheckUserName</servlet-name>
    <servlet-class>com.oracleoaec.servlet.CheckUserName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserName</servlet-name>
    <url-pattern>/CheckUserName</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckEmail</servlet-name>
    <servlet-class>com.oracleoaec.servlet.CheckEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmail</servlet-name>
    <url-pattern>/CheckEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.oracleoaec.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>quit</servlet-name>
    <servlet-class>com.oracleoaec.servlet.Quit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quit</servlet-name>
    <url-pattern>/quit</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>product</filter-name>
    <filter-class>com.oracleoaec.filter.ProductFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>product</filter-name>
    <url-pattern>/index.jsp</url-pattern>
    <url-pattern>/index_product_sort.jsp</url-pattern>
    <url-pattern>/product_view.jsp</url-pattern>
    <url-pattern>/guestbook.jsp</url-pattern>
    <url-pattern>/category</url-pattern>
    <url-pattern>/ref</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ProductView</servlet-name>
    <servlet-class>com.oracleoaec.servlet.ProductView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductView</servlet-name>
    <url-pattern>/pview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReadNews</servlet-name>
    <servlet-class>com.oracleoaec.servlet.ReadNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadNews</servlet-name>
    <url-pattern>/readNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addToCart</servlet-name>
    <servlet-class>com.oracleoaec.servlet.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCart</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductByCategory</servlet-name>
    <servlet-class>com.oracleoaec.servlet.ProductByCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductByCategory</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingView</servlet-name>
    <servlet-class>com.oracleoaec.servlet.ShoppingView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingView</servlet-name>
    <url-pattern>/shopping</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoingToBuy</servlet-name>
    <servlet-class>com.oracleoaec.servlet.GoingToBuy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoingToBuy</servlet-name>
    <url-pattern>/goingToBuy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoBuy</servlet-name>
    <servlet-class>com.oracleoaec.servlet.DoBuy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoBuy</servlet-name>
    <url-pattern>/doBuy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCart</servlet-name>
    <servlet-class>com.oracleoaec.servlet.DeleteCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCart</servlet-name>
    <url-pattern>/deleteCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlterCartQuantity</servlet-name>
    <servlet-class>com.oracleoaec.servlet.AlterCartQuantity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterCartQuantity</servlet-name>
    <url-pattern>/alterQuantity</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.oracleoaec.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/guestbook.jsp</url-pattern>
    <url-pattern>/addComment</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CommentFilter</filter-name>
    <filter-class>com.oracleoaec.filter.CommentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CommentFilter</filter-name>
    <url-pattern>/guestbook.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>PageRefresh</servlet-name>
    <servlet-class>com.oracleoaec.servlet.PageRefresh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageRefresh</servlet-name>
    <url-pattern>/ref</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>com.oracleoaec.servlet.AddComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/addComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S3</servlet-name>
    <servlet-class>com.oracleoaec.servlet.Code</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S3</servlet-name>
    <url-pattern>/doS3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkCode</servlet-name>
    <servlet-class>com.oracleoaec.servlet.checkCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkCode</servlet-name>
    <url-pattern>/checkCode</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>retrievePassWordServlet</servlet-name>
    <servlet-class>com.oracleoaec.servlet.retrievePassWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>retrievePassWordServlet</servlet-name>
    <url-pattern>/retrievePassWordServlet</url-pattern>
  </servlet-mapping>
</web-app>